<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Teste_Revisao/src/br/com/teste_revisao/beans/Conteudo.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.teste_revisao.beans.Conteudo"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Teste_Revisao"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Teste_Revisao"/>
</launchConfiguration>
