<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="camel-version=3.3.0"/>
        <listEntry value="exec-maven-plugin-version=1.6.0"/>
        <listEntry value="maven-compiler-plugin-version=3.8.1"/>
        <listEntry value="maven-resources-plugin-version=3.1.0"/>
        <listEntry value="archetypeGroupId=org.apache.camel.archetypes"/>
        <listEntry value="archetypeArtifactId=camel-archetype-java8"/>
        <listEntry value="archetypeVersion=3.3.0"/>
        <listEntry value="groupId=MavenAPI"/>
        <listEntry value="artifactId=MavenAPI"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=MavenAPI.MavenAPI"/>
        <listEntry value="outputDirectory=C:\Users\Shima\eclipse-workspace"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Shima\AppData\Local\Temp\m2e-archetypeGenerator14958689100880348574"/>
</launchConfiguration>
